{% block content %}
<div class="container" id="sections">
    {% include 'sections/module.html' %}
    {% include 'sections/controller.html' %}
    {% include 'sections/permission.html' %}
    {% include 'sections/service.html' %}
</div>
{% endblock %}