<section id="entity">
    <h2>Generate Entities</h2>
    <br/>

    <div class="multi-field-wrapper">
        <label>Entity type</label>
        <select id="enity-type">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Content</option>
            <option value="2">Config</option>
        </select>

        <div class="multi-field">
            <div class="row">
                <div class="input-field col s6">
                    <input id="service_name" type="text">
                    <label for="service_name">Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="service_class" type="text">
                    <label for="service_class">Class</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s11">
            <a href="#" class="btn-floating btn-large waves-effect waves-light right-align add-permission remove-field"><i class="mdi-content-add"></i></a>
        </div>
    </div>
</section>