<section id="form-config">
    <h2>Generate Config Forms</h2>
    <br/>

    <div class="multi-field-wrapper">
        <div class="multi-field">
            <div class="row">
                <div class="input-field col s6">
                    <input id="form_name" type="text">
                    <label for="form_name">Class</label>
                </div>
                <div class="input-field col s6">
                    <input id="form_id" type="text">
                    <label for="form_id">Form id</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="checkbox" id="form_structure_check"/>
                    <label for="form_structure_check">Generate Form Structure</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input type="checkbox" id="form_load_service"/>
                    <label for="form_load_service">Load service from the container</label>
                </div>
                <div class="input-field col s8">
                    <input id="form_service_container" type="text">
                    <label for="form_service_container">Services</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="checkbox" id="form_update_routing"/>
                    <label for="form_update_routing">Update routing file</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s11">
            <a href="#" class="btn-floating btn-large waves-effect waves-light right-align add-permission remove-field"><i class="mdi-content-add"></i></a>
        </div>
    </div>
</section>