<section id="module">
  <h1>Generate Module</h1>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <input type="hidden"/>
        <div class="input-field col s6">
          <input id="module_name" type="text" value="Demo">
          <label for="module_name">Module Name</label>
        </div>
        <div class="input-field col s6">
          <input id="machine_name" type="text" value="demo">
          <label for="machine_name">Machine Name</label>
        </div>
      </div>
      <div class="row">
        <input type="hidden"/>
        <div class="input-field col s12">
          <input id="description" type="text" value="My Awesome Module">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <input type="hidden"/>
        <div class="input-field col s6">
          <input id="package_name" type="text" value="Other">
          <label for="package_name">Package Name</label>
        </div>
        <div class="input-field col s6">
          <input id="core_version" type="text" value="8.x">
          <label for="core_version">Core Version</label>
        </div>
      </div>
      <div class="row">
        <input type="hidden"/>
        <div class="input-field col s3">
          <input type="checkbox" id="has_dependecies" />
          <label for="has_dependecies">Has Dependencies</label>
        </div>
        <div class="input-field col s9">
          <input id="dependencies" type="text" value="rest, context, panels">
          <label for="dependencies">Dependencies</label>
        </div>
      </div>
    </form>
  </div>
</section>