<section id="permission">
    <h2>Generate Permissions</h2>
    <br/>

    <div class="multi-field-wrapper">
        <div class="multi-field">
            <div class="row">
                <div class="input-field col s6">
                    <input id="permission_name" type="text">
                    <label for="permission_name">Permission</label>
                </div>
                <div class="input-field col s6">
                    <input id="permission_title" type="text">
                    <label for="permission_title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input id="permission_description" type="text"/>
                    <label for="permission_description">Description</label>
                </div>
                <div class="input-field col s3">
                    <input type="checkbox" id="permission_restrict_access"/>
                    <label for="permission_restrict_access">Restrict Access</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s11">
            <a href="#" class="btn-floating btn-large waves-effect waves-light right-align add-permission remove-field"><i class="mdi-content-add"></i></a>
        </div>
    </div>
</section>
