<section id="service">
    <h2>Generate Services</h2>
    <br/>

    <div class="multi-field-wrapper">
        <div class="multi-field">
            <div class="row">
                <div class="input-field col s6">
                    <input id="service_name" type="text">
                    <label for="service_name">Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="service_class" type="text">
                    <label for="service_class">Class</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="service_description" type="text">
                    <label for="service_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="checkbox" id="service_interface"/>
                    <label for="service_interface">Generate Interface</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input type="checkbox" id="service_load_service"/>
                    <label for="service_load_service">Load service from the container</label>
                </div>
                <div class="input-field col s8">
                    <input id="service_service_container" type="text">
                    <label for="service_service_container">Services</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s11">
            <a href="#" class="btn-floating btn-large waves-effect waves-light right-align add-permission remove-field"><i class="mdi-content-add"></i></a>
        </div>
    </div>
</section>