<section id="permissions">
    <h1>Generate Permissions</h1>
    <div class="row">
        <div class="input-field col s6">
            <div class="switch">
                <label>
                    <input type="checkbox" id="create_permissions">
                    <span class="lever"></span>
                    Generate permissions
                </label>
            </div>
        </div>
    </div>
    <br/>
    <div class="multi-field-wrapper">
        <div class="row">
            <div class="multi-field">
                <div class="input-field col s7">
                    <div class="col s10">
                        <input id="permission" type="text" name="permission[]">
                        <label for="permission">Permission</label>
                    </div>
                    <div class="col s1">
                        <a href="#" class="btn-floating waves-effect waves-light right-align"><i class="mdi-content-clear"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s5 offset-s6">
                <a href="#" class="btn-floating btn-large waves-effect waves-light right-align add-permission"><i class="mdi-content-add"></i></a>
            </div>
        </div>
    </div>
</section>
