<section id="image-effect">
    <h2>Generate Image Effect Plugins</h2>
    <br/>

    <div class="multi-field-wrapper">
        <div class="multi-field">
            <div class="row">
                <div class="input-field col s4">
                    <input id="image_effect_class" type="text">
                    <label for="image_effect_class">Class</label>
                </div>
                <div class="input-field col s4">
                    <input id="image_effect_label" type="text">
                    <label for="image_effect_label">Label</label>
                </div>
                <div class="input-field col s4">
                    <input id="image_effect_id" type="text">
                    <label for="image_effect_id">Id</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="image_effect_description" type="text"/>
                    <label for="image_effect_description">Description</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s11">
            <a href="#" class="btn-floating btn-large waves-effect waves-light right-align add-permission remove-field"><i class="mdi-content-add"></i></a>
        </div>
    </div>
</section>