<section id="rest-resource">
    <h2>Generate REST Resource Plugins</h2>
    <br/>

    <div class="multi-field-wrapper">
        <div class="multi-field">
            <div class="row">
                <div class="input-field col s6">
                    <input id="rest_resource_class" type="text">
                    <label for="rest_resource_class">Class</label>
                </div>
                <div class="input-field col s6">
                    <input id="rest_resource_label" type="text">
                    <label for="rest_resource_label">Label</label>
                </div>
                <div class="input-field col s6">
                    <input id="rest_resource_id" type="text">
                    <label for="rest_resource_id">Id</label>
                </div>
                <div class="input-field col s6">
                    <input id="rest_resource_url" type="text">
                    <label for="rest_resource_url">URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="checkbox" id="rest_resource_get"/>
                    <label for="rest_resource_get">GET</label>
                </div>
                <div class="input-field col s12">
                    <input type="checkbox" id="rest_resource_put"/>
                    <label for="rest_resource_put">PUT</label>
                </div>
                <div class="input-field col s12">
                    <input type="checkbox" id="rest_resource_post"/>
                    <label for="rest_resource_post">POST</label>
                </div>
                <div class="input-field col s12">
                    <input type="checkbox" id="rest_resource_delete"/>
                    <label for="rest_resource_delete">DELETE</label>
                </div>
                <div class="input-field col s12">
                    <input type="checkbox" id="rest_resource_patch"/>
                    <label for="rest_resource_patch">PATCH</label>
                </div>
                <div class="input-field col s12">
                    <input type="checkbox" id="rest_resource_head"/>
                    <label for="rest_resource_head">HEAD</label>
                </div>
                <div class="input-field col s12">
                    <input type="checkbox" id="rest_resource_options"/>
                    <label for="rest_resource_options">OPTIONS</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s11">
            <a href="#" class="btn-floating btn-large waves-effect waves-light right-align add-permission remove-field"><i class="mdi-content-add"></i></a>
        </div>
    </div>
</section>